@import url("https://fonts.googleapis.com/css2?family=Agbalumo:wght@400;700&display=swap");


.webName {
  font-family: "Agbalumo", sans-serif;
  font-size: 32px;
  color: #000000;
}

body {
  background-image: url("../images/book.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
}

.icon {
  max-width: 100px;
}

.blur {
  backdrop-filter: blur(10px);
}